
<!-- Popup = {{ site.popup }} -->
<div class="popup-frame">
  <div class="paper">
    <div class="popup">
      <p>{{ site.popup_copy }}</p>
      {{ if site.popup == 'password' }}
        <input id="pass" type="password" name="" value="" placeholder="password">
      {{ endif }}
      <button type="button" name="button">Got it</button>
    </div>
  </div>
</div>


<!-- Pop-up CSS ======================================= -->
<style media="screen">
.popup-frame {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(17, 17, 17, 0.85);
}

.popup-frame .close {
  color: #fff;
  text-align: center;
  display: block;
}
.popup-frame .paper {
  padding: 50px 70px 65px 70px;
  background: #009AFA;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 15%;
}
.popup-frame .paper .popup {
  font-size: 3rem;
  color: #fff;
}
.popup-frame .paper .popup p {
  margin: 0 0 1.5rem 0;
}
.popup-frame .paper .popup button {
  margin: 0;
  font-size: 2.6rem;
}
.popup-frame .paper .popup button:disabled {
  background-color: #4A5460;
}

.popup-frame .paper .popup input#pass{
  margin: .8em 0;
  border: none;
  font-size: 4rem;
  padding: 0.15em .3em;
  border: 5px #004874 solid;
}
.popup-frame .paper .popup input#pass.valid{
  border: 5px #008531 solid;
}

.popup-frame .paper .popup input#pass::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #777;
}
.popup-frame .paper .popup input#pass::-moz-placeholder { /* Firefox 19+ */
  color: #777;
}
.popup-frame .paper .popup input#pass:-ms-input-placeholder { /* IE 10+ */
  color: #777;
}
.popup-frame .paper .popup input#pass:-moz-placeholder { /* Firefox 18- */
  color: #777;
}
</style>



<!-- jQuery =======================================-->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.js"
  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  crossorigin="anonymous"></script>

<!-- Popup JS =======================================-->
<script type="text/javascript">

  // Sets the Cookie — invalidates after an hour
  function setCookie(key, value) {
    var expires = new Date();
    expires.setTime(expires.getTime() + (60 * (60 * 1000)) );
    document.cookie = key + '=' + value + ';expires=' + expires.toUTCString() + "; path=/";
  }

  // Gets the Cookie
  function getCookie(key) {
    var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
    return keyValue ? keyValue[2] : null;
  }

  (function($){
    jQuery(document).ready(function() {

      // Checks to see if there is a cookie
      if (getCookie('work_in_progress') == 'true') {
        // YES! there is, so let's hide the popup
        $(".popup-frame").hide();
      } else {
        // No cookie here! Let's show the popup and set another cookie
        setCookie('work_in_progress','true');
        $(".popup-frame").show();
      }

      // Let's make it easy to clear this popup away
      // Click anywhere on the page
      var popup_type = "{{ site.popup }}";
      if (popup_type == 'previews-only') {
        {% unless site.env == "production" %}
          $( ".popup" ).click(function() {
            $(".popup-frame").hide();
          });
        {% endunless %}
      }

      if (popup_type == 'all-branches') {
        $( ".popup" ).click(function() {
          $(".popup-frame").hide();
        });
      }

      // Let's do a little checking against the password that is set
      if (popup_type == 'password') {
        var pass = $('.popup #pass');
        var btn = $('.popup button');
        // disable the button
        $(btn).prop("disabled",true);
        // On keyup, check to see if the password entered == the password in the config
        $(pass).keyup(function() {
          var val = $(this).val();
          // If the passwords are equal...
          if (val == '{{ site.popup_pass }}') {
            // re-enable the button
            $(btn).prop("disabled",false);
            // add this class to the input field
            $(pass).addClass("valid");
            // And if someone clicks the frame, make the popup go away.
            $( ".popup" ).click(function() {
              $(".popup-frame").hide();
            });
          }
        });
      }

    });
  })(jQuery);

</script>
